/* Estilos padrão para todos os tamanhos de tela */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-attachment: fixed;
}

body {
  background-image: url(imagens/rose-petals.svg);
}

#fundo1 {
  background-image: url(imagens/Dark\ Brown\ Desert\ Night\ Sky.png);
}

header {
  padding-top: 0.5vw;
  text-align: center;
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.8));  grid-area: h;
}

header a {
  color: aliceblue;
  display: inline-block;
  vertical-align: middle;
}

#icon {
  width: 70%;
}

#comme-font {
  font-size: 2em;
  text-align: center;
  color: #FFF;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}

main {

  background: rgb(255, 255, 255);
  grid-area: m;
  color: black;
  margin-top: 2vw;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 5vw;
}

#maindiferente {
  background-color: transparent;
}

footer {
  grid-area: f;
}


#Titulo {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0;
}

h1 {
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.pontos {
  width: 60%;
}

p {
  display: block;
  text-indent: 2cm;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;
}

img {
  width: 30%;
  margin: auto;
  display: block;
}

.referencia {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

.citacao {
  margin-left: 7cm;
}

#Titulo {
  width: 15%;
}

.logo {
  width: 15vw;
}

/* Media queries para ajustar o layout em diferentes tamanhos de tela */

/* Tamanho de tela pequeno */
@media (max-width: 767px) {
  h1 {
    margin-left: 0.7cm;
  }

  main {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  p,
  h1 {
    font-size: 0.8em;
    margin-left: 0.7cm;
    margin-right: 0.2cm;
  }

  .citacao {
    font-size: 0.6em;
    margin-left: 3cm;
  }

  .referencia {
    font-size: 0.6em;
    text-indent: 0;
  }
}

/* Tamanho de tela médio */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  p {
    margin-left: 1.2cm;
    margin-right: 0.7cm;
    text-indent: 0.5cm;
  }

  h1 {
    margin-left: 2cm;
  }

  .citacao {
    font-size: 0.6em;
    margin-left: 3cm;
  }

  .referencia {
    font-size: 0.6em;
    text-indent: 0;
  }
}

/* Tamanho de tela grande */
@media (min-width: 1024px) {
  h1 {
    margin-left: 3cm;
  }

  main {
    margin-left: 20vw;
  }

  p {
    margin-left: 3cm;
    margin-right: 2cm;
  }

  .citacao {
    font-size: 0.8em;
    margin-left: 7cm;
  }

  .referencia {
    font-size: 0.6em;
  }
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
}

li {
  padding: 20px;
  cursor: pointer;
  list-style: none;
}

li:hover {
  background-color: rgba(53, 53, 53, 0.7);
}

.menu {
  margin-top: 9vh;
}

#menu-toggle {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  right: -350px;
  /* Começa fora da tela */
  width: 300px;
  height: 100vh;
  background-color: #161616;
  padding: 20px;
  transition: transform 0.3s ease;
  /* Adiciona transição suave ao transform */
}

#menu-toggle:checked~.menu {
  transform: translateX(-300px);
  /* Move a navbar para a esquerda */
}

/* Resto do seu CSS... */

.menu-button {
  margin: 20px;
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  order: 2;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #FFF;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.bar:nth-child(1) {
  top: 0;
}

.bar:nth-child(2) {
  top: 8px;
}

.bar:nth-child(3) {
  top: 16px;
}

#menu-toggle:checked+.menu-button .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

#menu-toggle:checked+.menu-button .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked+.menu-button .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#menu-toggle:checked~.menu {
  display: block;
}